# Parcel cache
.parcel-cache/

# Node.js dependencies
node_modules/

# Logs
*.log

# macOS system files
.DS_Store

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.swp

# Temporary files and backup files
*.tmp
*.temp
*.bak
*.old
*.orig
*.save
*.swp

# Parcel-generated source maps (optional)
*.map.parcel-cache/

# Local holder html for webflow
navbar.css
preminified.html
minifiedcss.html
holder.html